<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Contests</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../../../js/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../../../js/bootstrap.min.js"></script>
</head>

<body>
<ul class="breadcrumb" style="margin:0;">
    <li><a href="#">比赛列表：</a></li>
</ul>
<form action="contest/list"  class="form-inline">
    <div class="row alert alert-info" style="margin:0;padding:3px;">

        <a class="btn btn-success" href="/contest/list">刷新</a>
    </div>


        <table class="table ">
            <tbody>
            <#list retList as bean>
            <tr class="text-center center">
                <td >
                    <a type="button" class="btn btn-default btn-lg btn-block"  href="/contest/submit?name=${(bean.name)!}"> ${(bean.name)!} </a>
                </td>
            </tr>
            </#list>
            </tbody>
        </table>


</form>
</body>
</html>
